

body { 
    height: 100vh;
    font-family: 'Oswald', sans-serif;
 
  }

header{
    text-align: center;
}





  .flex-container {

    display: flex;
    
    
    
    /* flex-flow: row nowrap; */ 
    
    flex-wrap: nowrap; 
    flex-direction: column;
    background-color: #bbdefb;
    height: 100%;
    width: 100%;
    padding: 15px;
    gap: 5px;

  }

  .flex-container {
    background: #ffecb3;
    border: 3px solid #ffcc80;
    border-radius: 5px;
    padding: 8px;
    justify-content: center;
    align-items: center;
  }



#Hangman{
display:flex;
flex-direction: column;
align-items: center;
width: 100%;
margin-top: 50px;
}

































